<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-tatget="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/contact">contact</a></li>
        <li><a routerLink="/todo">todo</a></li>

      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
